#unidad1{
    padding: 3em;

    .title{
        text-align: center;
        color: rgb(63, 98, 20);
        font-weight: 300;
        font-size: 4em;
        padding: 0.5em 1em;
    }
    
    div{
        p{
            font-size: 2em;
            font-weight: 300;
            text-align: center;
        }
    }
}