#unidad1{
    p{
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        padding: 1em 3em;
    }

    ul{
        font-size: 1.3em;
        font-weight: 500;
        padding: 0.5em 4em 1em 4em;

        li{
            list-style-type: circle;
        }
    }
}