@import "generals";
@import "header";
@import "section1";
@import "productos";
@import "form";
@import "footer";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');


@media screen and (max-width: 880px){
    #unidad1{
        p{
            padding: 1em;
        }

        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                border-radius: 3em;
                max-width: 50%;
            }
        }
    }

    #productos{
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;
            text-align: center;

            img{
                width: 70vw;
            }
        }
    }
}

@media screen and (min-width: 881px){
    #unidad1{
        p{
            padding: 1em 3em;
        }

        div{
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                border-radius: 3em;
                max-width: 30%;
            }
        }
    }

    #productos{
        .info{
            display: flex;
            align-items: center;
            gap: 4em;

            img{
                width: 40vw;
            }
        }
    }
}