@import "generals";
@import "header";
@import "section1";
@import "portfolio";
@import "form";
@import "sendForm";
@import "footer";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');


@media screen and (max-width: 880px){
    #unidad1{
        p{
            padding: 1em;
        }
    }

    #portfolio{
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;
            text-align: center;

            img{
                width: 70vw;
            }
        }
    }
}

@media screen and (min-width: 881px){
    #unidad1{
        p{
            padding: 1em 3em;
        }
    }

    #portfolio{
        .info{
            display: flex;
            align-items: center;
            gap: 4em;

            img{
                width: 40vw;
            }
        }
    }
}